nav {
  background-color: #000000;
}

nav a {
  color: #fff;
}
section {
  margin-top: 100px;
}
.big_container {
  padding: 40px;
}
.container {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 4px;
}
#email_error,
#pass_error {
  color: red;
  display: none;
}