{% block content%}
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/experiment.css' %}">
    <link rel="stylesheet" href="{% static 'css/index1.css' %}">
    <!--Scripts for icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>Experiment name</title>
    <link rel = "icon" href = 
    "{% static 'images/sggs.png' %}" 
            type = "image/x-icon">
    <style>
      @media (max-width: 1200px) {
          #diagram {
              width: 300px;
              height: 100px;
          }
      }
    </style>

    
</head>
<body>
  <nav style="max-width: 100%;" class="navbar fixed-top navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SGGSV-Lab</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Select Lab
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'course' %}">Heat transfer</a></li>
              <li><a class="dropdown-item" href="{% url 'course' %}">Manufacturing processes 2</a></li>
              <li><a class="dropdown-item" href="{% url 'DOM' %}">Dynamics of Machines (DOM)</a></li>
              <li><a class="dropdown-item" href="course{% url 'course' %}">Design of Machine (DME)</a></li>
              <!-- <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li> -->
            </ul>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}" tabindex="-1" aria-disabled="true">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'logout' %}" tabindex="-1" aria-disabled="true">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}" tabindex="-1" aria-disabled="true">Are you a teacher?</a>
          </li>
          {% endif %}
        </ul>
        <!--<form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>-->
      </div>
    </div>
  </nav>
  <section style="width: 100%;" class="exp_nav row col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div style="padding: 20px auto;" id="intro_and_pro_btn" class="text-center col-lg-2 col-md-2 col-sm-12 col-xs-12">INTRODUCTION</div>
    <div style="padding: 20px auto;" id="simulation_btn" class="text-center col-lg-2 col-md-2 col-sm-12 col-xs-12">SIMULATION</div>
    <div style="padding: 20px auto;" id="observe_btn" class="text-center col-lg-2 col-md-2 col-sm-12 col-xs-12">OBSERVATIONS</div>
    <div style="padding: 20px auto;" id="calc_btn" class="text-center col-lg-2 col-md-2 col-sm-12 col-xs-12">CALCULATIONS</div>
    <div style="padding: 20px auto;" id="result_btn" class="text-center col-lg-2 col-md-2 col-sm-12 col-xs-12">RESULT</div>
    <div style="padding: 20px auto;" id="eval_btn" class="text-center col-lg-2 col-md-2 col-sm-12 col-xs-12">EVALUATIONS</div>
  </section>


  <!--DOM PRACTICAL 04 |  STUDY OF LONGITUDINAL VIBRATION -->
<br>
  <center><span class="fs-3"><b>Dynamics Of Machine</b><br>Experiment No. 04</br></span></center>
  <article id="intro_and_pro" class="subsection container">
      <center><span class="fs-3">  To study the longitudinal vibrations of helical spring</span><br>
      <hr></center>
      <p class="fs-6">

            
        <b>Apparatus</b><br>
        Coil spring, Weight platform, Weights.<br>
        <br></br> 

        <b>Description of Set up</b><br>
        One end of open coil spring is fixed to the screw, which engages with screwed hand 
        wheel. The screw can be adjusted vertically in any convenient position and then clamped to 
        upper beam by means of lock nuts. Lower end of the spring is attached to the platform 
        carrying the weights. The whole unit can be clamped by using the upper and lower clamping 
        nuts. Thus, the design of the system incorporates vertical positioning of the unit to suit the 
        convenience. 

 <br>
        
        <center><img id="diagram" src="{% static 'images/3rd year/DOM/EXP4/intro1.png' %}" alt="experiment#1"></center>
      
        <b>Procedure</b><br>
        <ol>
          <li> Fix one end of the helical spring to the upper screw.</li>
          <li> Determine free length.  </li>
          <li> Put some weight to platform and note down the deflection. </li>
          <li> Stretch the spring through some distance and release </li>
          <li> Count the time required (in sec) for some say 10, 25, 50 oscillations.  </li>
        </ol><br>
        <hr>
        
  </article>
  <!--Simulation-->
  <article id="simulation" class="subsection container">
    <p class="fs-5"><center><b>Coming Soon!</b></center></p><br>
  </article>

<!--Calculations-->

  <article id="calc" class="subsection container">
    <span class="fs-3">Calculations</span><br><hr><br>
    <center><img id="diagram" src="{% static 'images/3rd year/DOM/EXP4/cal1' %}" alt="experiment#1"></center>
    <center><img id="diagram" src="{% static 'images/3rd year/DOM/EXP4/cal2' %}" alt="experiment#1"></center>
    
 <!--OBSERVATION-->

  </article>
  <article id="observe" class="subsection container">
    <span class="fs-3">Observation</span><br>
    <hr>
    <ol>
      <li> Length of spring = </li>
      <li> Mean diameter of spring =   </li>
      <li> Wire diameter = </li>
      <li> Weight of platform = 1.22 Kg  </li>
    </ol><br>
    <span class="fs-3">Observation Table. 01</span><br>
    <p><b>{Table No 1:- For finding Km} </b></p>
    <hr>
    <div class="table-responsive">
      <form action="DOMEXP4" method="POST">
      {% csrf_token %}
      <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th scope="col">Sr. No.<br></br></th>
            <th scope="col">Weight attached<br>(Nos.)</td></br></th>
            <th scope="col">Deflection of spring<br>(cm)</></br></th>
            <th scope="col">Spring stiffness<br>K(Kg/cm)</td></br></th>
            <th scope="col">Mean spring stiffness<br>Km(Kg/cm)</td></br></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><input type="text" name="W1"></td>
            <td><input type="text" name="D1"></td>
            <td>{{K1}}</td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><input type="text" name="W2"></td>
            <td><input type="text" name="D2"></td>
            <td>{{K2}}</td>
            <td>{{MK}}</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td><input type="text" name="W3"></td>
            <td><input type="text" name="D3"></td>
            <td>{{K3}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <span class="fs-3">Observation Table. 02</span><br>
    <hr>
    <div class="table-responsive">
      <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th scope="col">Sr. No.<br></br></th>
            <th scope="col">Weight attached<br>W(Kg)</td></br></th>
            <th scope="col">No. of oscillations<br>(N)</td></br></th>
            <th scope="col">Time for 'n' oscillations<br>t(sec)</td></br></th>
            <th scope="col">Periodic time (Exp)<br>T(sec)</td></br></th>
            <th scope="col">Periodic time (Ther)<br>T(sec)</td></br></th>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td><input type="text" name="W1"></td>
            <td><input type="text" name="N1"></td>
            <td><input type="text" name="t1"></td>
            <td>{{T_exp1}}</td>
            <td>{{T_th1}}</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td><input type="text" name="W2"></td>
            <td><input type="text" name="N2"></td>
            <td><input type="text" name="t2"></td>
            <td>{{T_exp2}}</td>
            <td>{{T_th2}}</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td><input type="text" ></td>
            <td><input type="text" name="N3"></td>
            <td><input type="text" name="t3"></td>
            <td>{{T_exp3}}</td>
            <td>{{T_th3}}</td>
          </tr>
        </thead>
        <tbody>  
        </tbody>
      </table>
    </div>
    <br><button class="btn btn-outline-primary px-4 button">Calculate</button>
  </form>
    <br>
    <span class="fs-3">Sample Observation Table. 01</span><br>
    <p><b>{Table No 1:- For finding Km} </b></p>
    <hr>
    <div class="table-responsive">
      <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th scope="col">Sr. No.<br></br></th>
            <th scope="col">Weight attached<br>(Nos.)</td></br></th>
            <th scope="col">Deflection of spring<br>(cm)</td></br></th>
            <th scope="col">Spring stiffness<br>K(Kg/cm)</td></br></th>
            <th scope="col">Mean spring stiffnress<br>Km(Kg/cm)</td></br></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>0.553</td>
            <td>1.2</td>
            <td>0.460</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>1.10</td>
            <td>2.9</td>
            <td>0.379</td>
            <td>0.380</td>
           
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>1.653</td>
            <td>5.5</td>
            <td>0.3</td>
          </tr>
        </tbody>
      </table>
    </div>
    <span class="fs-3">Sample Observation Table. 02</span><br>
    <hr>
    <div class="table-responsive">
      <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th scope="col">Sr. No.<br></br></th>
            <th scope="col">Weight attached<br>W(Kg)</td></br></th>
            <th scope="col">No. of oscillations<br>(N)</td></br></th>
            <th scope="col">Time for 'n' oscillations<br>t(sec)</td></br></th>
            <th scope="col">Periodic time (Exp)<br>T(sec)</td></br></th>
            <th scope="col">Periodic time (Ther)<br>T(sec)</td></br></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>0.553</td>
            <td>10</td>
            <td>4.0</td>
            <td>0.4</td>
            <td>0.242</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>1.10</td>
            <td>10</td>
            <td>4.5</td>
            <td>0.45</td>
            <td>0.34</td>
           
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>1.653</td>
            <td>5.0</td>
            <td>0.3</td>
            <td>0.06</td>
            <td>0.418</td>
          </tr>
        </tbody>
      </table>
    </div>
  </article>

  <!--RESULT-->

  <article id="result" class="subsection container">
    <span class="fs-3">Result</span><br>
    <hr>
    <div class="table-responsive">
      <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th scope="col">Sr. No.<br></br></th>
            <th scope="col">Weight attached<br>W(Kg)</td></br></th>
            <th scope="col">T (Exp)<br>(sec)</td></br></th>
            <th scope="col">T (Ther)<br>(sec)</td></br></th>
            <th scope="col">f (Exp)<br>(Cps)</td></br></th>
            <th scope="col">f (Ther)<br>(Cps)</td></br></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>{{W1}}</td>
            <td>{{T_exp1}}</td>
            <td>{{T_th1}}</td>
            <td>{{F_exp1}}</td>
            <td>{{F_th1}}</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>{{W2}}</td>
            <td>{{T_exp2}}</td>
            <td>{{T_th2}}</td>
            <td>{{F_exp2}}</td>
            <td>{{F_th2}}</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>{{W3}}</td>
            <td>{{T_exp3}}</td>
            <td>{{T_th3}}</td>
            <td>{{F_exp3}}</td>
            <td>{{F_th3}}</td>
          </tr>
          
        </tbody>
      </table>
    </div>
    <br>
    <span class="fs-3">Sample Result</span><br>
    <hr>
    <div class="table-responsive">
      <table class="table table-bordered text-center">
        <thead>
          <tr>
            <th scope="col">Sr. No.<br></br></th>
            <th scope="col">Weight attached<br>W(Kg)</td></br></th>
            <th scope="col">T (Exp)<br>(sec)</td></br></th>
            <th scope="col">T (Ther)<br>(sec)</td></br></th>
            <th scope="col">f (Exp)<br>(Cps)</td></br></th>
            <th scope="col">f (Ther)<br>(Cps)</td></br></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>0.553</td>
            <td>0.4</td>
            <td>0.242</td>
            <td>2.5</td>
            <td>4.13</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>1.10</td>
            <td>0.45</td>
            <td>0.34</td>
            <td>2.22</td>
            <td>2.94</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>1.653</td>
            <td>0.06</td>
            <td>0.418</td>
            <td>16.66</td>
            <td>2.39</td>
          </tr>
        </tbody>
      </table>
    </div>
  </article>

  <!--EVALUATION-->

  <article id="eval" class="subsection container">
    <span class="fs-3">Evaluation</span><br>
    <!-- <p style="border: 1px solid #185adb; padding: 40px 20px; margin: 30px auto;">
      <span class="fs-4">Test 1:</span><br>
      <small><b>Description:</b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus in dolorem amet. Saepe ad minus corrupti rem non tempora assumenda nisi unde voluptatum placeat a sapiente natus temporibus, error odit.</small><br>
      <a class="btn btn-primary" href="#">Appear for the test</a><br>
      <small>Posted on: 21/08/2021,<br>Posted By: Mr. Kadam (SGGS Faculty)</small>
    </p> -->
    <iframe src="{{url1.formlink}}?embedded=true" width="100%" height="800px" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
  </article>
  <footer style="margin-top: 100px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <span class="fs-3">SGGSV-Lab</span><br>
        <hr>
        <p class="fs-6">
            &copy; Copyright. All rights are reserved by SGGSIE&T, Vishnupuri, Nanded, Maharashtra.<br>
        </p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <span class="fs-3">Created by:</span><br>
      <hr>
      <ul style="list-style: none;">
          <li>Yash Raut (Mechanical)</li>
          <li>Suyog Moon (Mechanical)</li>
          <li>Vedant Totla (Mechanical)</li>
          <li>Irshaduddin Chowdhury (Mechanical)</li>
      </ul>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
      <span class="fs-3">Contact us:</span><br>
      <hr>
      <p class="fs-6">
          Visist our site: <a href="https://onlinesggs.org/">Online SGGS</a><br>
          Mail us at: yvjoshi@sggs.ac.in<br>
          Call us on: +91 1234567890, +91 9876543210<br>
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-linkedin"></a>
          <a href="#" class="fa fa-instagram"></a>
      </p>
    </div>
  </footer>
</body>
<!-- JavaScript Bundle with Popper -->
<script src="{% static 'scripts/experiment.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
<!-- Latex to html convertor -->
<script type="text/javascript" async="" src="{% static 'scripts/latexScript.js' %}">
</script>
<script>
  MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
  </script>
</html>
{% endblock content%}