{% block content%}
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/course.css'%}">
    <link rel="stylesheet" href="{% static 'css/index1.css'%}">
    <!--Scripts for icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>Course Page</title>
    <link rel = "icon" href = 
    "{% static 'images/sggs.png' %}" 
            type = "image/x-icon">
</head>
<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SGGSV-Lab</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Select Lab
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'course' %}">Heat transfer</a></li>
              <li><a class="dropdown-item" href="{% url 'course' %}">Manufacturing processes 2</a></li>
              <li><a class="dropdown-item" href="{% url 'DOM' %}">Dynamics of Machines (DOM)</a></li>
              <li><a class="dropdown-item" href="{% url 'course' %}">Design of Machine (DME)</a></li>
              <!-- <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li> -->
            </ul>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}" tabindex="-1" aria-disabled="true">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'logout' %}" tabindex="-1" aria-disabled="true">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}" tabindex="-1" aria-disabled="true">Are you a teacher?</a>
          </li>
          {% endif %}
        </ul>
        <!--<form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>-->
      </div>
    </div>
  </nav>
  <div class="experiments col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="container">
      <span class="fs-3">Experiment: 1</span><br>
      <hr style="background-color: #185ADB;">
      <span class="fs-5">To verify the relation</span><br>
      <a href="{% url 'DOMEXP1' %}" class="btn btn-primary">Open Experiment</a><br>
      <!--<span class="justify-content-right">Posted by.</span>-->
    </div>
    <div class="container">
      <span class="fs-3">Experiment: 2</span><br>
      <hr style="background-color: #185ADB;">
      <span class="fs-5">To determine the Radius of Gyration ‘K’ of given compound pendulum and To verify the relation</span><br>
      <a href="{% url 'DOMEXP2' %}" class="btn btn-primary">Open Experiment</a><br>
      <!--<span class="justify-content-right">Posted by.</span>-->
    </div>
    <div class="container">
      <span class="fs-3">Experiment: 3</span><br>
      <hr style="background-color: #185ADB;">
      <span class="fs-5">To determine the radius of gyration of given bar by using Bi-Filer suspension</span><br>
      <a href="{% url 'DOMEXP3' %}" class="btn btn-primary">Open Experiment</a><br>
      <!--<span class="justify-content-right">Posted by.</span>-->
    </div>
    <div class="container">
      <span class="fs-3">Experiment: 4</span><br>
      <hr style="background-color: #185ADB;">
      <span class="fs-5">To study the longitudinal vibrations of helical spring</span><br>
      <a href="{% url 'DOMEXP4' %}" class="btn btn-primary">Open Experiment</a><br>
      <!--<span class="justify-content-right">Posted by.</span>-->
    </div>
    <div class="container">
      <span class="fs-3">Experiment: 5</span><br>
      <hr style="background-color: #185ADB;">
      <span class="fs-5">To study the un-damped free vibration of equivalent spring mass system.</span><br>
      <a href="{% url 'DOMEXP5' %}" class="btn btn-primary">Open Experiment</a><br>
      <!--<span class="justify-content-right">Posted by.</span>-->
    </div>
    <div class="container">
      <span class="fs-3">Experiment: 6</span><br>
      <hr style="background-color: #185ADB;">
      <span class="fs-5"> To study the forced vibrations of equivalent spring mass system.</span><br>
      <a href="{% url 'DOMEXP6' %}" class="btn btn-primary">Open Experiment</a><br>
      <!--<span class="justify-content-right">Posted by.</span>-->
    </div>
    <div class="container">
      <span class="fs-3">Experiment: 7</span><br>
      <hr style="background-color: #185ADB;">
      <span class="fs-5">To study the torsional vibration (un-damped) of single rotor shaft system.</span><br>
      <a href="{% url 'DOMEXP7' %}" class="btn btn-primary">Open Experiment</a><br>
      <!--<span class="justify-content-right">Posted by.</span>-->
    </div>
    <div class="container">
      <span class="fs-3">Experiment: 8</span><br>
      <hr style="background-color: #185ADB;">
      <span class="fs-5">To study the free vibration of two rotor system and to determine the natural frequency of 
        vibration theoretically and experimentally.</span><br>
      <a href="{% url 'DOMEXP8' %}" class="btn btn-primary">Open Experiment</a><br>
      <!--<span class="justify-content-right">Posted by.</span>-->
    </div>
    <div class="container">
      <span class="fs-3">Experiment: 9</span><br>
      <hr style="background-color: #185ADB;">
      <span class="fs-5">To study the damped torsional oscillations and determine the damping coefficient Ct</span><br>
      <a href="{% url 'DOMEXP9' %}" class="btn btn-primary">Open Experiment</a><br>
      <!--<span class="justify-content-right">Posted by.</span>-->
    </div>
    <div class="container">
      <span class="fs-3">Experiment: 10</span><br>
      <hr style="background-color: #185ADB;">
      <span class="fs-5">To verify the Dunkerley’s Rule.</span><br>
      <a href="{% url 'DOMEXP10' %}" class="btn btn-primary">Open Experiment</a><br>
      <!--<span class="justify-content-right">Posted by.</span>-->
    </div>
    <div class="container">
      <span class="fs-3">Experiment: 11</span><br>
      <hr style="background-color: #185ADB;">
      <span class="fs-5">The normal values of specific heats of air at atmospheric conditions are, CP = 1.005 kJ/kgK and CV = 0.718 kJ/kgK.</span><br>
      <a href="{% url 'DOMEXP11' %}" class="btn btn-primary">Open Experiment</a><br>
      <!--<span class="justify-content-right">Posted by.</span>-->
    </div>
  </div>
  <footer class="p-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h2 class="footer-heading"><a href="#" class="logo">Virtaul Labs SGGSIE&T</a></h2>
                <p class="menu">
                    <a href="#" class="p-2">Home |</a>
                    <a href="#" class="p-2">About |</a>
                    <a href="#" class="p-2">Labs |</a>
                    <a href="#" class="p-2">Support |</a>
                    <a href="#" class="p-2">Contact |</a><br>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="#" class="fa fa-instagram"></a></p>
                    <p>Copyright &copy; 2022 | Yash Raut | Suyog Moon 
                      <br>Department of Mechanical Enginnering | SGGSIE&T, Nanded</p>
            </div>
        </div>
        
            </div>
        </div>
    </div>
</footer>
</body>
<!-- JavaScript Bundle with Popper -->
<script src="{% static 'scripts/course.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</html>
{% endblock content%}