.exp_nav {
    margin: 100px 0px auto;
    width: 100%;
}
.exp_nav div {
    padding: 20px auto;
    cursor: pointer;
}
#intro_and_pro_btn {
    border: 1px solid #fff;
}
#simulation,
#observe,
#calc,
#result,
#eval {
    display: none;
}